<app-header titulo="Modificar datos de usuario" inicio="1" [barraCarga]="bandera"></app-header>

<ion-content class="ion-padding">
  <ion-img src="assets/UNIGO.png" style="width: 150px; margin: auto;"></ion-img>

  <ion-item>
    <ion-input required labelPlacement="floating" type="text" aria-label="Nombre" label="nombre" name="nombre" [(ngModel)]="this.usuario.nombre"></ion-input>
  </ion-item> 

  <form [formGroup]="form" (ngSubmit)="mod()">
    

    <ion-item>
        <ion-input required labelPlacement="floating" type="password" aria-label="Contraseña actual o nueva" label="Contraseña actual o nueva" name="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-text *ngIf="form.get('password')?.errors?.['required'] && form.get('password')?.touched">
      <p style="margin-left: 5%; color: #ff0000;">Debe ingresar su contraseña actual o una nueva</p>
    </ion-text>

    <ion-text color="primary" *ngIf="form.get('password')?.errors?.['minlength'] && form.get('password')?.touched">
      <p style="margin-left: 5%; color: #ff0000;">La contraseña debe tener minimo 6 caracteres</p>
    </ion-text>

    <ion-button block color="primary" type="submit" expand="block" shape="round" id="open-action-sheet" [disabled]="form.invalid">Enviar</ion-button>
    <ion-action-sheet
      mode="ios"
      trigger="open-action-sheet"
      class="my-custom-class"
      header="Example header"
      subHeader="Example subheader"
      [buttons]="actionSheetButtons"
    ></ion-action-sheet>

  </form>
</ion-content>