<app-header titulo="Perfil" inicio="1" [barraCarga]="bandera"></app-header>


<ion-content class="ion-padding">
<ion-refresher slot="fixed" #myRefresher (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<ion-content class="ion-padding" >
  <h4>Informacion de Usuario:</h4>
  <ion-list [inset]="true">
    <ion-item>
      <ion-label>
        <h2>Nombre de usuario:</h2>
        <p>{{usuario.nombre}}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Correo Electronico:</h2>
        <p>{{usuario.email}}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Contraseña:</h2>
        <p>******</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <h4 *ngIf="usuario.auto!==undefined">Informacion de Automovil</h4>
  <ion-list *ngIf="usuario.auto!==undefined" [inset]="true">
    <ion-item>
      <ion-label>
        <h2>Modelo:</h2>
        <p>{{usuario.auto.modelo}}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Color:</h2>
        <p>{{usuario.auto.color}}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Patente:</h2>
        <p>{{usuario.auto.patente}}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Capacidad de pasajeros:</h2>
        <p>{{usuario.auto.capacidad}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="logOut()"><ion-icon name="log-out-outline"></ion-icon></ion-fab-button>
      <ion-fab-button routerLink="/tabs/modificar"><ion-icon name="create-outline"></ion-icon></ion-fab-button>
      <ion-fab-button routerLink="/tabs/nuevo-auto" *ngIf="usuario.auto==undefined"><ion-icon name="car-sport-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
