<app-header titulo="bienvenida" inicio="0" [barraCarga]="false"></app-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
<ion-content class="ion-padding">
  <ion-img src="assets/UNIGO.png" style="width: 180px; margin: auto;"></ion-img>

  <ion-text style="text-align: center;">
    <h3>Viaja seguro, Viaja barato</h3>
  </ion-text>

  <ion-button routerLink="/login" expand="block" shape="round" style="margin-bottom: 30px;">
    inicia sesion
  </ion-button>

  <ion-button routerLink="/register" expand="block" shape="round">
    registrate
  </ion-button>
</ion-content>

<ion-footer mode="ios">
  <ion-toolbar color="dark">
    <ion-title>derecho reservado</ion-title>
  </ion-toolbar>
</ion-footer>
