<app-header titulo="Inicio"></app-header>

<ion-content class="ion-padding" >
  <ion-img src="assets/UNIGO.png" style="width: 50px; "></ion-img>
  UniGO
  <ion-text color="dark" style="text-align: center;">
    <p>¡Hola! </p>
    <h2>-----------------------------------------</h2>
    <h1>Viajes disponibles</h1>
    <h2>-----------------------------------------</h2>
  </ion-text>
  <ion-item>
    <ion-card color="danger">
      <ion-card-header>
        <ion-card-title>DUOC UC - San Andres</ion-card-title>
        <ion-card-subtitle>Viaje a - 16:00</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        A las 16:00 saldre hacia talcahuano, puedo dejarlos en sus casas si no se desvia tanto de la ruta principal.
      </ion-card-content>
  
      <ion-button  expand="block">
        $
      </ion-button>
    </ion-card>
  </ion-item>
</ion-content>
