<app-header titulo="Nuevo auto" inicio="1"></app-header>

<ion-content class="ion-padding">
  <ion-img src="assets/UNIGO.png" style="width: 50px; float: left;"></ion-img>
  <ion-text color="dark" style="text-align: center;">
    <!-- <p style="margin-right: 20%;">UniGO</p><p style="margin-right: 20%;">¡Hola! {{usuario.nombre}}</p> -->
  </ion-text>

  <ion-text>
    <h1>Aqui va mi viaje</h1>
  </ion-text>

  <ion-button (click)="agregar()" expand="block" shape="round">
    Agregar un viaje
  </ion-button>

</ion-content>
